body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'HarmoniaSansRegular', sans-serif;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title--attention {
  color: #ff5912;
}
.main {
  padding: 120px 0;
  background-color: #f4f6f8;
}
.subtitle {
  font-size: 16px;
  color: #495662;
  margin-top: 25px;
}
.title {
  font-size: 36px;
  color: #34404b;
  text-transform: uppercase;
}
.header {
  background: #fff;
}
.header__item {
  border-bottom: 1px solid rgba(230,232,235,0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header__item--big {
  height: 120px;
}
.header__item--big .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header a:hover {
  color: #ff5912;
}
.header .row {
  height: 60px;
}
.header__contact {
  width: 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
}
.header .cart {
  position: relative;
}
.header .cart__quantity {
  position: absolute;
  top: -12px;
  left: 1px;
  font-size: 10px;
  color: #fff;
  background-color: #34404b;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 15px;
  width: 15px;
  line-height: 15px;
}
.contact__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #34404b;
}
.contact__item i {
  color: #ff5912;
}
.contact__text {
  padding-left: 5px;
}
.social {
  width: 100px;
}
.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
}
.header__buttons {
  width: 125px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__buttons a {
  font-size: 16px;
}
.nav {
  width: 447px;
}
.nav__link {
  color: #34404b;
}
.nav__link:hover {
  color: #ff5912;
}
.container--offers {
  height: 100%;
}
.offers {
  background: url("../img/top-bg.png") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 650px;
}
.offers__description {
  text-align: left;
}
.offers__title {
  color: #ff5912;
  font-size: 52px;
}
.offers__addition {
  font-size: 18px;
  color: #3c4751;
  line-height: 30px;
  display: block;
  margin: 10px 0;
}
.offers__price {
  color: #34404b;
}
.offers__buy {
  text-align: left;
}
.offers .icon-cart {
  color: #ff5912;
}
.offers__slider {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
  margin: 80px 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.cards__item {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.1);
          box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-transition: 2s -webkit-transform ease;
  transition: 2s -webkit-transform ease;
  -o-transition: 2s transform ease;
  transition: 2s transform ease;
  transition: 2s transform ease, 2s -webkit-transform ease;
}
.cards__item:first-child {
  margin-bottom: 30px;
}
.cards__item+.cards__item {
  margin-bottom: 30px;
}
.cards__item:hover {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
          transform: rotate3d(0, 1, 0, 180deg);
/* transform rotateY(0deg)*/
}
.cards__item:hover .cards__front {
  opacity: 0;
/*transform rotateY(-180deg)*/
}
.cards__item:hover .feature {
  z-index: 10;
  opacity: 1;
}
.cards__price {
  color: #ff5912;
  font-size: 18px;
  font-weight: bold;
}
.cards__title {
  margin: 30px 0;
  font-size: 18px;
  font-weight: 400;
}
.cards__front {
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 1;
  z-index: 9;
  position: relative;
}
.feature {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 30px;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  z-index: 0;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.feature__title {
  color: #ff5912;
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0;
  position: relative;
}
.feature__description {
  position: relative;
}
.feature__description:after {
  content: '';
  position: absolute;
  height: 1px;
  background: #f2f4f7;
  bottom: -30px;
  width: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.feature__image-wrapper img {
  max-width: 90px;
  height: 90px;
}
.feature__color {
  margin: 30px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feature__color a {
  width: 13px;
  height: 13px;
  display: block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.feature__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  width: 60%;
}
.feature__buttons a:hover {
  color: #ff5912;
}
.color__red {
  background-color: #e12e3f;
}
.color__sapphire {
  background-color: #34404b;
}
.color__blue {
  background-color: #3ab3ff;
}
.color__green {
  background-color: #2fd967;
}
.more-button {
  font-size: 10px;
  color: #ff5912;
  background-color: #fff;
  padding: 25px 0;
}
.recomended {
  padding: 119px 0;
}
.recomended__item {
  background-color: #fff;
  border: 1px solid rgba(52,64,75,0.05);
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 60px;
}
.recomended__item--60 {
  width: -webkit-calc(60% - 15px);
  width: calc(60% - 15px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recomended__item--40 {
  width: -webkit-calc(40% - 15px);
  width: calc(40% - 15px);
}
.recomended__title {
  font-size: 22px;
}
.recomended__subtitle {
  font-size: 12px;
  margin-top: 13px;
}
.recomended__sale {
  position: relative;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recomended__sale-info {
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.recomended__sale:after {
  content: '';
  position: absolute;
  background-color: #ff5912;
  width: 51px;
  height: 61px;
  top: 50%;
  left: -10px;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
      -ms-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}
.recomended__sale:before {
  content: '';
  position: absolute;
  background-color: #ff5912;
  width: 50px;
  height: 63px;
  top: 50%;
  left: -9px;
  opacity: 0.7;
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
      -ms-transform: translate(50%, -50%) rotate(-45deg);
          transform: translate(50%, -50%) rotate(-45deg);
}
.recomended__description {
  position: relative;
  text-align: left;
}
.recomended__description:after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #f5f5f6;
  position: absolute;
  top: 0;
  right: -37px;
}
.recomended__price {
  font-size: 32px;
  color: #ff5912;
  font-family: 'HarmoniaSansBlack';
}
.recomended__number {
  margin-left: 10px;
}
.sales .cards__front,
.sales .feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sales .cards__front .cards__title,
.sales .feature .cards__title {
  margin-top: 0;
}
.sales .cards__front .cards__price--sale,
.sales .feature .cards__price--sale {
  font-size: 16px;
}
.cards__item--sales {
  width: -webkit-calc(33.33% - 30px);
  width: calc(33.33% - 30px);
}
.or {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.raiting .icon-star {
  margin: 0 2px;
  color: #edf0f6;
}
.add {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.add:hover {
  color: #ff5912;
}
.add__text {
  margin-left: 5px;
}
.newsletter input {
  border: none;
}
.newsletter .icon-mail {
  color: #ff5912;
}
.newsletter__wrapper {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 45px;
}
.newsletter__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.newsletter__title {
  font-size: 18px;
  color: #ff5912;
  font-weight: bold;
}
.newsletter__subtitle {
  font-size: 14px;
  color: #34404b;
  font-style: italic;
  margin-left: 23px;
}
.input__submit {
  background-color: #ff5912;
  padding: 0;
  height: 50px;
  width: 100px;
  color: #fff;
}
.form-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.input__email {
  margin-left: 10px;
}
.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 415px;
}
.footer {
  padding: 85px 0;
  background-color: #fff;
}
.footer__info {
  text-align: left;
}
.footer__block-list {
  width: 485px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__list {
  font-size: 14px;
}
.footer__item {
  text-align: left;
  color: #28313b;
}
.footer__item+.footer__item {
  margin-top: 15px;
}
.footer__item:hover {
  color: #ff5912;
}
.footer__item a {
  color: #000;
}
.footer__item a:hover {
  color: #ff5912;
}
.payment__title {
  font-size: 16px;
  font-weight: 400;
  color: #ff5912;
  text-align: left;
  font-family: 'HarmoniaSansSemiBold';
}
.payment__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
}
.payment-method {
  height: 19px;
  width: 27px;
  background: url("../img/payment-images.png") 0 0;
  display: block;
}
.payment-method + .payment-method {
  margin-left: 9px;
}
.footer__copyright {
  font-size: 14px;
}
.method-1 {
  background-position: 0 0;
}
.method-2 {
  background-position: -35px 0;
}
.method-3 {
  background-position: -71px 0;
}
.method-4 {
  background-position: -107px 0;
}
.method-5 {
  background-position: -143px 0;
}
.column-left {
  width: 268px;
}
.filter__box {
  background-color: #fff;
  padding: 40px;
}
.filter__box .form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  width: 100%;
}
.filter__title {
  color: #ff5912;
  font-size: 18px;
  font-family: 'HarmoniaSansBlack';
}
.row--products {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.products {
  margin: 0;
  width: -webkit-calc(100% - 296px);
  width: calc(100% - 296px);
}
.products .cards__item {
  width: -webkit-calc(33.33% - 30px);
  width: calc(33.33% - 30px);
}
.cards__item {
  display: block;
}
.cards__item.is-passive {
  display: none;
}
.view__galery {
  width: 40%;
}
.view__info {
  width: 60%;
  text-align: left;
}
.view__order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feature__buttons--view {
  padding: 0;
  margin: 0;
  width: auto;
}
@media (min-width: 320px) {
  .container {
    width: 290px;
  }
}
@media (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media (min-width: 720px) {
  .container {
    width: 690px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 930px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?f629an");
  src: url("../fonts/icomoon.eot?f629an#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?f629an") format('truetype'), url("../fonts/icomoon.woff?f629an") format('woff'), url("../fonts/icomoon.svg?f629an#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HarmoniaSansBold';
  src: url("../fonts/HarmoniaSansProCyr-Bold.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HarmoniaSansRegular';
  src: url("../fonts/HarmoniaSansProCyr-Regular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HarmoniaSansSemiBold';
  src: url("../fonts/HarmoniaSansProCyr-SemiBd.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HarmoniaSansBlack';
  src: url("../fonts/HarmoniaSansProCyr-Black.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dots:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e986";
}
.icon-google:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e903";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-add-to-cart:before {
  content: "\e904";
}
.icon-user-o:before {
  content: "\e90a";
}
.icon-heart:before {
  content: "\e909";
}
.icon-star:before {
  content: "\e908";
}
